<h1>Hair Salon</h1>


<h3>Stylists available:</h3>

<ul>
  <% @stylists.each() do |stylist| %>
    <li><a href="/stylists/<%= stylist.id()%>"><%= stylist.name() %></a></li>
  <% end %>
</ul>

<h1>Add a stylist.</h1>

<form action="/" method="post">
  <label for="name">Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Stylist </button>
</form>
